<div style="background-color: #efbc2f;"  class="container">
    <div class="container">
        <div class="row">
            <div class="col center-text">
                <h4>MÁS INFORMACIÓN</h4>
                <h5>Delivery</h5>
                <h5>¿Que es OnlyFlans</h5>
            </div>
            <div class="col center-text">
                <h4>SOBRE NOSOTROS</h4>
                <h5>E-mail: contacto@onlyflans.cl</h5>
                <h5>Teléfono: (+562) 32033377</h5>
                <h5>Instagram: @OnlyFlans</h5>
            </div>
            <div class="col center-text">
                <h4>CONTÁCTATE CON NOSOTROS</h4>
                <h5>Horario habitual de atención: Lunes a Domingo de 09:00 a 20:00 hrs.</h5>
                <h5>Teléfono: (+562) 32033377</h5>
                <h5>Instagram: @OnlyFlans</h5>
            </div>
        </div>
    </div>
    <div class="col text-center">
        Creado por Yerko Cruz
    </div>
</div>